<script type="text/javascript">

</script>

<h1 class="title"><%= @name %></h1>
ハロー<br><br>

<ul>
  <li><a href="/d3s" class="btn btn-primary btn-lg active" role="button">d3s link</a></li>
  <li><a href="/knockouts" class="btn btn-primary btn-lg active" role="button">knockouts link</a></li>
</ul>

    