<script type="text/javascript">

</script>

<h1 class="title"><%= @name %></h1>
<br>
<ul>
  <li>project1</li>
  <li>project2</li>
  <li>project3</li>
  <li>project4</li>  
</ul>
<a href="https://api.github.com/issues">issues?</a>
<p></p>
